<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./vendor/autoload.php" 
		 color="true" 
		 convertErrorsToExceptions="true" 
         convertNoticesToExceptions="true" 
    	 convertWarningsToExceptions="true"
    	 stopOnFailure="false" >
    <testsuites>
        <testsuite name="Elevator UnitTest">
            <file>tests/ElevatorTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>